{{yield}}

<div class="container index-post">
  <dt><h3>{{post.title}}</h3></dt><br>
  <dd><img src="{{post.image}}"></dd><br>
  Author: {{post.author}} <br>
  Date: {{post.date}}

  {{#link-to 'post' post.id}}Read More{{/link-to}}
</div>
