<div class="container index-post">
  <dl>
    <dt>{{model.title}}</dt>
    <dd>{{model.author}}</dd>
    <dd>{{model.date}}</dd>
    <dd><p><img src={{model.image}} alt={{model.title}}></p></dd>
    <dd>{{model.content}}</dd>
  </dl>
</div>
