<div class="container index-post">
  <dl>
    <dt>{{model.title}}</dt>
    <dd>{{model.author}}</dd>
    <dd>{{model.date}}</dd>
    <dd><p><img src={{model.image}} alt={{model.title}}></p></dd>
    <dd>{{model.content}}</dd>
  </dl>

{{update-post post=model update="update" destroyPost="destroyPost"}}

<h3>Comments</h3>
<ul>
  {{#each model.comments as |comment|}}
  <li>{{link-to 'comment' comment.id}}{{comment.content}}{{comment.username}}</li>
  {{/each}}
  <button class="btn btn-default btn-sm" {{action 'addComment'}}>Add</button>
</ul>
</div>
