<div class="container index-post">
  <dl>
    <dt>{{model.title}}</dt>
    <dd>{{model.author}}</dd>
    <dd>{{model.date}}</dd>
    <dd><p><img src={{model.image}} alt={{model.title}}></p></dd>
    <dd>{{model.content}}</dd>
  </dl>

{{update-post post=model update="update" destroyPost="destroyPost"}}

<h3>Comments</h3>
<ul>
  {{#each model.comments as |comment|}}
  {{comment.content}} by {{comment.username}}
  {{update-comment comment=comment updateComment="updateComment" destroyComment="destroyComment"}}
  {{/each}}
</ul>

{{add-comment post=model saveComment="saveComment"}}
</div>
